.centered {
    text-align: center;
    background-color: grey;
}

#title {
    font-size: 3rem;
}

#subtitle {
    font-size: 1.5rem;
}

div {
background-color: grey;
}

li {
    list-style-type: none;
}
body {
    background-color: grey;
} /*tried to get all color.. looking forward to feedback..../*
#content {
    text-decoration: underline;
}
.monospaced {
    font-family: monospace;
}